h1{
  font-size: 3.5em;
  text-shadow: 1px 1px 0 #000;
}
h2{
  font-size: 2em;
  color: #000;
  text-shadow: none;
  padding: 0 0.5em 0 0.5em;
}
#pay-bg{
  position: relative;
}
#pay-online{
  margin-bottom: 20px;
}
#pay-form{
  margin: 0 auto;
  padding: 10px;
}
#pay-form label, #pay-form input, #pay-form div, #pay-form textarea{
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
}
label{
  font-size: 1.8em;
  color: #99badd;
  text-shadow: 1px 1px 0 #000;
  text-align: right;
}
.error-message{
  color: #fff;
}
#amount{
  height: 50px;
  font-size: 2em;
}
input{
  height: 40px;
  font-size: 1.8em;
  border-radius: 10px;
  border: none;
}
textarea{
  font-size: 1.2em;
  max-width: 80%;
  max-height: 400px;
  min-height: 50px;
  min-width: 80%;
}
p{
  text-align: center;
  font-size: 1.2em;
  padding: 1em;
}
#pay-submit{
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-size: 1.2em;
  color: #000;
  background-color: #99badd;
  border-radius: 5px;
}
#pay-submit:hover{
  color: #99badd;
  background-color: #fff;
  cursor: pointer;
}

#billing-container{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #619b68;
  top: 0px;
  left: 0px;
}
#disclaimer{
  padding: 5px 2em 0 2em;
  font-size: 0.9em;
  color: #000;
}
#disclaimer span{
  color: #fff;
  background-color:
}
#billing-container p{
  color: #fff;
  text-shadow: 1px 1px 0px #000;
}
#billing-container a{
  text-decoration: none;
}
#billing-container button{
  display: block;
  margin: 10px auto 0 auto;
  font-size: 1.5em;
  padding: 5px;
  width: 185px;
  height: 60px;
}
#billing-container button:hover{
  cursor: pointer;
  background-color: #99badd;
  color: #fff;
}
#stripe-button{
  width: 185px;
  margin: 10px auto 10px auto;
  margin-top: 30px;
}
.payment-types{
  min-height: 25%;
  padding-top: 10px;
}
#paypal{
  background-color: lightgray;
}
#paypal a{
  display: block;
  margin: 30px auto 0 auto;
  width: 185px;
}

@media screen and (max-width: 767px){
  #pay-form label, #pay-form input, #pay-form div, #pay-form textarea{
    width: 95%;
    max-width: 95%;
    min-width: 95%;
  }
  h2{
    font-size: 1.5em;
  }
}
