<section id="splash-bg">
  <nav>
    <ul>
      <li><a href="#prices"><img class="icons" src="../../assets/svgs/prices-icon.svg" alt="prices icon"><span>Prices</span></a></li>
      <li><a href="#pics"><img class="icons" src="../../assets/svgs/pics-icon.svg" alt="prices icon"><span>Pics</span></a></li>
      <li><a href="#contact"><img class="icons" src="../../assets/svgs/contact-icon.svg" alt="prices icon"><span>Contact</span></a></li>
    </ul>
    <div><a id="rec-icon" href="#availability"><img src="../../assets/svgs/availability-icon.svg" alt="prices icon"><span>Availability</span></a></div>
  </nav>
  <h1>Cottage on Blair</h1>
  <div id="pay-online"><a [routerLink]="['/pay']">Online Payments</a></div>

  <a href="#prices"><div id="scroller"></div></a>
</section>
